.provCerrada {
    cursor:pointer;
}

.provCerrada li {
    display: none;
}

.provCerrada a {
    text-decoration: underline;
}

.provAbierta li {
    display:list-item;
}

button{
    display: none;
    border: none;
    cursor:pointer;
}